@page
@model IndexModel
@{
    ViewData["Title"] = "Main page";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <div class="alert alert-warning">
                    @Model.Message;
                </div>
            }
            @if (Model.IsAuthorized)
            {
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="mb3">Welcome, @@@Model.CurrentUserLogin @Model.CurrentUserName!</h2>
                        <h2 class="mb3">You are @Model.CurrentUserAge</h2>
                        <p class="text-muted">Success sign in</p>
                        <form method="post" asp-page-handler="LogOut">
                            <button type="submit" class="btn btn-danger">
                                Logout
                            </button>
                        </form>
                    </div>
                </div>
            }
            else
            {
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Welcome</h2>
                        <ul class="nav nav-tabs mb-3" id="authTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" 
                                        id="login-tab" 
                                        data-bs-toggle="tab"
                                        data-bs-target="#login"
                                        type="button" 
                                        role="tab">
                                    Sign in
                                </button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link"
                                        id="login-tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#register"
                                        type="button"
                                        role="tab">
                                    Sign up
                                </button>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="login" role="tabpanel">
                                <form method="post" asp-page-handler="Login">
                                    <div class="mb-3">
                                        <label class="form-label">
                                            Login
                                        </label>
                                        <input asp-for="LoginLogin" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">
                                            Password
                                        </label>
                                        <input asp-for="LoginPassword" type="password" class="form-control" id="LoginPassword">
                                        <button type="button" class="btn btn-primary w-100" id="show-hide_LoginPassword">
                                            show
                                        </button>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">
                                        Sign in
                                    </button>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="register" role="tabpanel">
                                <form method="post" asp-page-handler="Register">
                                    <div class="mb-3">
                                        <label class="form-label">
                                            Name
                                        </label>
                                        <input asp-for="RegisterName" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">
                                            Login
                                        </label>
                                        <input asp-for="RegisterLogin" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">
                                            Password
                                        </label>
                                        <input asp-for="RegisterPassword" type="password" class="form-control" id="RegisterPassword">

                                        <button type="button" class="btn btn-primary w-100" id="show-hide_RegisterPassword">
                                            show
                                        </button>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">
                                            Age
                                        </label>
                                        <input asp-for="RegisterAge" class="form-control">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label">
                                            Password Confirm
                                        </label>
                                        <input asp-for="RegisterPasswordConfirm" type="password" class="form-control">
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">
                                        Sign Up
                                    </button>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>